<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      {% include './sidebar.html' %}
    </aside>

    <div>
      {% include './navbar.html' %}
      <div class="p-4 sm:ml-64">
        <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
          {% block homElement %}
            
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
