<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Document</title>
  <style>
    {% include './style.css' %}
  </style>
</head>

<body>
  <div class="container">
    <div class="element">

      <p class="text">home page</p>

      <p class="text">{{data.name}}</p>

      {% if value < 10 %} <p class="text">value is {{data.value}} - little</p>
      {% elif value >= 10 and value < 18 %} <p class="text2">value is {{data.value}} - middle</p>
      {% else %}
      <p class="text3">value is {{data.value}} - big</p>
      {% endif %}

      <ul>
        {% for x in fruits %}
          <li style="color:{% cycle 'red' 'green' 'blue' 'pink' %}" >
           {{ x }}
          </li>
        {% empty %}
           <li>Sorry, no athletes in this list.</li>
        {% endfor %}
      </ul>


      {% firstof firstof_test.val1 firstof_test.val2 firstof_test.val3 "<p> مقداری موجود نیست </p>" %}


    </div>
  </div>
</body>

</html>